.app-container {
  width: 40%;
  margin: auto;
}
.loadMoreButton {
  width: 40%;
  height: 35px;
  padding: 0px 5px;
  margin: 5px 0px;
  font-size: large;
  background-color: #333;
  color: white;
  cursor: pointer;
  border: none;
}
.loadMoreButton:hover {
  opacity: 0.8;
}

@media screen and (max-width: 950px) {
  .app-container {
    width: 60%;
  }
}

@media screen and (max-width: 650px) {
  .app-container {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .app-container {
    width: 100%;
  }
}
